<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="model/gltf-binary" />
                <data android:scheme="content" android:mimeType="model/gltf+json" />
                <data android:scheme="content" android:mimeType="model/stl" />
                <data android:scheme="content" android:mimeType="application/sla" />
                <data android:scheme="content" android:mimeType="model/obj" />
                <data android:scheme="content" android:mimeType="model/3mf" />
                <data android:scheme="content" android:mimeType="model/step" />
                <data android:scheme="content" android:mimeType="application/step" />
                <data android:scheme="content" android:mimeType="model/x3d+xml" />
                <data android:scheme="content" android:mimeType="application/xml" />
                <data android:scheme="content" android:mimeType="text/xml" />
                <data android:scheme="content" android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>
